.topnav {
  background-color: #333;
  /*overflow: hidden;*/
  position: fixed;
  border-radius: 20;
  -moz-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ff9933;
  color: black;
  -moz-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  border-radius: 20px
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 20px
}

div.desc {
  padding: 15px;
  text-align: center;
}

#playlist{
  margin-top: 150px
}

h5
{
  text-decoration: underline;
}

table
{
  width: 700px;
  background-color: 
}

table, th, td
{
  border: 1px solid black;
  border-collapse: collapse;
}

th, td{
  padding: 5px;
}

th
{
  text-align: center;
  background-color: #333;
  color: #f2f2f2
}

.category{
  background-color: #ff9933;
}